[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Package cache (Unity/Vuforia etc.)
**/Library/PackageCache/
**/Library/ArtifactDB
**/Packages/*.tgz

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db
